@model BillPay
@{
    ViewData["Title"] = "Modify Bill pay";
}

<div>
    <h1 class="display-4">Bill pay @Model.BillPayId</h1>
    <h3>Modify your bill pay here: </h3>
    <h3>This bill pay to @Model.Payee.Name</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifyBillPay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" 
                data-val-required="The Amount field is required."/>
                @Html.ValidationMessage("Amount", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="ScheduleTimeUtc" class="control-label"></label>
                <input asp-for="ScheduleTimeUtc" class="form-control"/>
                <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillPayPeriod" class="control-label"></label>
                <input asp-for="BillPayPeriod" class="form-control" />
                <span asp-validation-for="BillPayPeriod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="ViewBillPay">Back to Billpay</a>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
